-verbose
-ignorewarnings


#When not preverifing in a case-insensitive filing system, such as Windows. Because this tool unpacks your processed jars, you should then use:
-dontusemixedcaseclassnames

#Specifies not to ignore non-public library classes. As of version 4.5, this is the default setting
-dontskipnonpubliclibraryclasses

#Preverification is irrelevant for the dex compiler and the Dalvik VM, so we can switch it off with the -dontpreverify option.
-dontpreverify
-dontobfuscate
-keepattributes EnclosingMethod

# enable when deploying
#-optimizationpasses 5
#-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*,!code/allocation/variable

# for development
-dontoptimize

#Keep classes that are referenced on the AndroidManifest
-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class org.opencv.android.JavaCameraView { *; }
-keep class scala.collection.SeqLike { public protected *; }
-keep public class net.ladstatt.**
