<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.ladstatt.apps.sudoku.android"
          android:versionCode="7"
          android:versionName="1.5"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.android.com/apk/res/android http://schemas.android.com/apk/res/android ">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk android:minSdkVersion="15"/>

    <application
            android:icon="@drawable/ic_launcher"
            android:debuggable="false"
            android:label="@string/app_name">

        <activity
                android:name="com.google.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <activity
                android:name=".SudokuCapturer"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
